@model IEnumerable<aspnetcore_storagemanager.Data.FileStorage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <form asp-action="Index" method="post" enctype="multipart/form-data" >
        <input type="file" name="files" accept="@ViewData["SupportedType"]" multiple >
        <input type="submit" value="Upload me!">
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { id = item.FileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FileId })
            </td>
        </tr>
}
    </tbody>
</table>
